* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}
